<div class="action-container">
  <div class="content">
    <div>
      <p class="back-to-text">Back To</p>
    </div>

    <div class="btn-group">


      <!-- Autre colonne de boutons si nécessaire -->

      <div class="btn-group-column">

        <button class="btn">
          <span class="icon delivery-icon"></span>
          Pizza ++
        </button>
        <button class="btn">
          <span class="icon pizza-icon"></span>
          Delivery
        </button>
      </div>
    </div>

    <!--<button routerLink="/page1" class="action-button">Page 1</button>
    <button routerLink="/page2" class="action-button">Page 2</button>-->
  </div>
</div>
