<app-orders-table (rowSelected)="onRowSelected($event)"></app-orders-table>

<mat-card class="trinta-card all-courses-card mb-25 bg-white border-none d-block">
  <mat-card-header>
    <mat-card-title>
      Select Order
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-tab-group animationDuration="0ms" class="custom-tab-grp" (click)="openDialog()">
      <mat-tab label="Order Info">
      </mat-tab>
      <mat-tab label="Edit">
      </mat-tab>
      <mat-tab label="Send">
      </mat-tab>
      <mat-tab label="Settel">
      </mat-tab>
      <mat-tab label="Split">
      </mat-tab>
      <mat-tab label="Close Order">
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>